.App {  
  height: auto;
  align-items: center;
  justify-content: space-evenly;  
  color: #ffffff;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 
.todo-list {
  margin-top: 16px;
  height: 48px;
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

li {
  list-style: none;
  overflow-wrap: anywhere;
  height: auto;
  width: 250px;
}

.btn-input-submit{
  border: 3px;
  margin-top: 2px;    
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  align-items: center;
  color: #ffffff;
}

.inputgroup{
  position: relative;
}

.labelinput{
  position: absolute;
  left: 15px;
  font-size: 20px;
  top: 10px;
  transition: all 0.2s;  
  z-index: 1;
  color: grey;
  user-select: none;
}

.textinput{
  /* padding: 0.4rem; */
  /* border: 2px solid #2f2c45; */
  /* background: #272530; */
  /* border-radius: 5px;   */
  /* outline: none; */
  transition: all 0.3s;
  /* color: #fff; */
}

.textinput:focus{
  border: 3px solid #38f2ff;  
}

.textinput:focus + .labelinput{
  top: -25px;
  left: 5px;
  color: #38f2ff;
  font-size: 18px;   
}

.textinput::placeholder{
  font-size: 16px;
  opacity: 0;
  transition: all 0.3s;
}

.textinput:focus::placeholder{
  opacity: 1;  
}

.textinput:not(:placeholder-shown) + .labelinput{
  top: -25px;  
  left: 5px;
  color: #38f2ff;
  font-size: 18px;
  opacity: 1;
}
